{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <script src="https://kit.fontawesome.com/5be60f6b86.js" crossorigin="anonymous"></script>
    <title>Kennedy || Babu</title>

    {% block styles %}
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endblock %}
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}
    
    
    {% endblock %}
    

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js" integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    let tl = gsap.timeline({defaults: {Easings: Expo.EaseOut}});
    

    tl.from('.home', {scale: 0.6, duration:2, opacity:0, ease: Expo.easeOut, delay: .2})
      .to('.text-reveal', {clipPath: 'polygon(0 0, 100% 0, 100% 100%, 0% 100%)', y:0, stagger:.3, duration:1 }, '-=2.9')
</script>
</body>
</html>