{% extends 'base.html' %} 

{% load bootstrap4 %}

{% block content %}
<div class="container home">    
    
</div>

<div class="overlay">
    <div class="content">
        <div class="content-inner">
            <h3 class="text-reveal">Kennedy Babu</h3>
            <p class="text-reveal">Full Stack Developer</p>
        </div>
    </div>
</div>

<section class="about container" id='about'>
    <div class="row">
        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet
                 consectetur adipisicing elit. 
                 Molestias sed, aliquam laboriosam 
                 sequi nesciunt iusto laudantium sit 
                 ea cupiditate debitis!</p>
        </div>
        <div class="col-md-6">
            Lorem ipsum dolor sit amet 
            consectetur adipisicing elit. I
            n dicta deserunt dolorem sit aliquid 
            neque minima vitae modi eveniet, 
            reiciendis similique!
        </div>
    </div>
</section>

<section class="projects container" id='projects'>
    <div class="row">
        
    </div>
</section>
{% endblock %}